obj/
bin/
logs/
packages/
!packages/repositories.config
App_Data/
*.user
*.vspscc
*.suo
*.dbmdl
*.mdf
*.ldf
*.log
*.swp
*.nupkg
.vs/

CustomInstrumentation.xml
CustomInstrumentation-*.xml
node_modules/
.dist/
dist/
dist_msbuild/
dist_gulp/
dist-static/
veracode/
.tmp/
*.tmp
*.idea
*.sass-cache
node_modules/
bower_components
*.sublime-project
*.sublime-workspace
grunt-aws.json

.DS_Store
desktop.ini
Temp_Data
local.config

Stage.appSettings.config
Stage.connectionStrings.config
Stage.smtp.config
Stage.widgetHosts.config
Qa.appSettings.config
Qa.connectionStrings.config
Qa.smtp.config
Production.appSettings.config
Production.connectionStrings.config
Production.smtp.config
Release.appSettings.config
Release.connectionStrings.config
Release.smtp.config
Release.widgetHosts.config
Qa.appSettings.config
Qa.connectionStrings.config
Qa.smtp.config

web.stage.config
web.qa.config
web.production.config
app.stage.config
app.qa.config
app.production.config

TestResult.xml
.bamboo/*.xml
.bamboo/*.json
TestResults/
junit-results.xml
Test/Rokt.E2E.Test/tests_output/
\.bamboo/rokt-aws/
\.bamboo/advertiserplatform-ui*

Public/Admin.Rocklive.Web/store/userfiles/
Public/BuyBuddy.Widget.Web/Scripts/Widget/Minified/
Public/BuyBuddy.Widget.Web/Content/Widget/Minified/
Platform/Rocklive.DbProgrammability/Rocklive.DbProgrammability.jfm

# Certificates
*.cer
*.pfx
!Internal/Rocklive.Scheduler/Certificates/Responsys/ResponsysServerCertificate.cer
# Visual studio config
.vs/*

Rokt/PartnerPlatform/Rokt.PartnerPlatform.Web/.tmp/
Rokt/PartnerPlatform/Rokt.PartnerPlatform.Web/.sass-cache/
Rokt/PartnerPlatform/Rokt.PartnerPlatform.Web/node_modules/
Public/BuyBuddy\.Widget\.Web/bundleconfig\.json
